.square {
  background-color: #faebd7;
  border: 2px solid #999;
  line-height: 34px;
  width: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  padding: 0;







}